* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sidebar {
    width: 28%;
    height: 100vh;
    border-right: 1px solid #38444d;
    position: fixed;
    background-color: rgba(0,0,0,1.00);
}

.logo {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    box-sizing: content-box;
    padding: 7px;
    margin-right: 10px;
    fill: rgb(231, 233, 234);   
}
.logo:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    margin-left: auto;
    color: #E7E9EA
}
.sidebar-item {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 12px; 
    cursor: pointer;
}
.sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    transition: background-color 0.3s ease;
}
.sidebar-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    fill: rgb(231, 233, 234);
}
.sidebar-title {
    font-size: 20px;
    font-weight: 600;
}
.sidebar-button {
    padding: 10px 70px;
    margin-top: 12px;
    height: 50px; 
    width: fit-content;
    background-color: rgb(29, 155, 240);
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer
}
.sidebar-button:hover {
    background-color: rgb(26, 140, 216);
    transition: background-color 0.3s ease;
}
.sidebar-user {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    color: #E7E9EA;
}
.user-avatar {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-info {
    display: flex;
    flex-direction: column;
}
.user-name {
    font-size: 18px;
    font-weight: bold;
}
.user-username {
    font-size: 14px;
    color: #71767b;
} 
.sidebar-options {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.options-icon {
    width: 20px;
    height: 20px;
    fill: rgb(231, 233, 234);
}
.sidebar-user:hover {
    background-color: rgba(255, 255, 255, 0.1);
    width: fit-content;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.main-container {
    height: 100vh;
    width: 72%;
    margin-left: 28%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.middle-bar {
    max-height: 100%;
    width: 59%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 53px;
    max-width: 100%;
    padding: 10px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px); 
}    
.title-container h1 {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: #E7E9EA;
    cursor: pointer;
}
    
.star{
    display: flex;
    align-items: center;
    justify-content:center;
    width:  25px;
    height: 25px;
    position: relative;
    fill: rgb(231, 233, 234);
    cursor: pointer;
}
.star:before { 
    content: "";
    position: absolute; 
    top: -8px; 
    left: -8px; 
    right: -8px; 
    bottom: -8px; 
    background-color: transparent; 
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.star:hover:before { 
    background-color: rgba(255, 255, 255, 0.1);
}
.star svg {
    fill: rgb(231, 233, 234);
}

.tweet-creation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid  #38444d;
    align-items: flex-start;
    padding: 15px;
    max-width: 100%;
    width: 100%;
}
.tweet-creation-input {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    width: 100%;
}
.tweet-creation img {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0px 5px;
    border-radius: 50%;
    cursor: pointer;
}
.tweet-creation input {
    padding: 8px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    background: transparent;
}
 .tweet-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}
.tweet-icons {
    display: flex;
    margin-left: 70px;
    }
.tweet-option {
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
}
.tweet-icon {
    width: 20px;
    height: 20px;
    padding: 8px;
    box-sizing: content-box;
    fill: rgb(29, 155, 240);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.tweet-icons .tweet-icon:hover {
    background-color: rgba(29, 155, 240, 0.2);
    transition: background-color 0.3s ease;
}
.tweet-icon-dark {
  filter: brightness(50%);
}

.no-hover-effect {
    pointer-events: none; 
  }

 .tweet-button {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(29, 155, 240);
    border-radius: 50px;
    padding: 10px 20px; 
    filter: brightness(60%);
    font-weight: bold;
}

.tweet-post {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 12px 16px 12px 16px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #38444d; 
    cursor: pointer;
}
.tweet-post:hover {
    background-color: rgba(255, 255, 255, 0.04);
}
.profile-container {
    display: flex;
    align-items: center;  
    height: 100%; 
    margin-bottom: 15px;
    width: 100%;
}
.tweet-profile {
    display: flex;
    align-items: center;
    margin-right: 13px;
}
.tweet-profile img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.user-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.user-details {
    display: flex;   
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: -3px;

}
.user-details .name {
    color: #E7E9EA;
    font-weight: bold;
}
.user-details .twitter-sun img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    }
.user-details .blue-mark{
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    fill: rgb(29, 155, 240);
}

.user-details .twitter-user-name {
    color: #71767b;
}
.user-details .time {
    color: #71767b;
}

.divider {
    padding: 0 5px;
}
.more-option {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}
.more-option svg {
    fill: #71767b; 
    width: 24px; 
    height: 24px;
    padding: 5px;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
}
.more-option:hover svg {
    fill: rgb(29, 155, 240);
    background-color: rgba(29, 155, 240, 0.2);
    transition: background-color 0.3s ease;
}
.tweet-text {
    color: #E7E9EA;
    margin-top: -5px;
    
}
.post-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post1-img img {
    max-width: 400px;
    max-height: 300px;
    margin-left: 50px;
    border-radius: 20px;
}
.post2-img img {
    max-width: 450px;
    max-height: 300px;
    margin-left: 50px;
    border-radius: 20px;
}
.post3-img img {
    max-width: 450px;
    max-height: 500px;
    margin-left: 50px;
    border-radius: 20px;
}
.post4-img img {
    max-width: 450px;
    max-height: 500px;
    margin-left: 50px;
    border-radius: 20px;
}

.reaction {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 12px;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.reaction-option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
    flex-grow: 1;
    cursor: pointer;
}
.reaction-option svg {
    width: 18.75px;
    height: 18.75px;
    padding: 8px;
    fill:rgb(113, 118, 123);
    color: #71767b;
    border-radius: 50%;
    box-sizing: content-box;
    transition: background-color 0.3s ease;
}
.reaction-count {
    color: #71767b;
    margin-left: 5px;
    margin-right: 15px;
}
.reaction-option-blue:hover svg,
.reaction-option-blue:hover .reaction-count {
    fill: rgb(29, 155, 240);
    color: rgb(29, 155, 240);
}
.reaction-option-blue:hover svg {
    background-color: rgba(29, 155, 240, 0.2);
}
.reaction-option-green:hover svg,
.reaction-option-green:hover .reaction-count {
    fill: rgb(0, 186, 124);
    color:  rgb(0, 186, 124);               
}
.reaction-option-green:hover svg {
    background-color: rgb(0, 186, 124, 0.2);
}
.reaction-option-red:hover svg, 
.reaction-option-red:hover .reaction-count {
    fill: rgb(249, 24, 128); 
    color: rgb(249, 24, 128); 
}
.reaction-option-red:hover svg {
    background-color: rgb(249, 24, 128, 0.2);
}
.share:hover svg {
    fill: rgb(29, 155, 240);
    background-color: rgba(29, 155, 240, 0.2);
}

.right-sidebar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    border-left: 1px solid #38444d;
    background-color: black;
}
.searchbar {
    position: relative;
    align-items: center;
    display: flex;
    width: 100%;
    height: 53px;
    position: sticky;
    top: 0;
    background-color: black;
}
.searchbar input { 
    padding-left: 50px;
    width: 350px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: rgb(32, 35, 39);
    color: #E7E9EA;
}
.search-icon {
    position: absolute;
    display: flex;
    padding-left: 12px;
    top: 53%;
    transform: translateY(-50%);
}
.search-icon svg {
    fill: rgb(113, 118, 123);
    width: 20px;
    height: 20px;
}

.trends-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
    border-radius: 8px;
    background-color: rgb(32, 35, 39);
    border-radius: 15px;
}
.trends-header-card {
    width: 100%;
    padding: 10px 15px;
    transition: background-color 0.3s;
    
} 
.trends-card {
    width: 100%;
    padding: 10px 15px;
    transition: background-color 0.3s;
    cursor: pointer;
}
.trends-card:hover {
    background-color: rgba(255, 255, 255, 0.04);
}
.trends-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -5px;
}
.trends-header h1 {
    font-size: 20px;
    color: #E7E9EA;
    font-weight: 700;
}

.trends-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.trend-info {
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.trending {
    font-size: 13px;
    color: #E7E9EA;
}
.more {
    display: flex;
    align-items: center;
    margin-top: -3px;
}
.more-icon svg {
    fill: #71767b; 
    width: 24px; 
    height: 24px;
    padding: 5px;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
}
.more-icon:hover svg {
    fill: rgb(29, 155, 240);
    background-color: rgba(29, 155, 240, 0.2);
    transition: background-color 0.3s ease;
}

.title {
    color: #E7E9EA;
    font-weight: bold;
}

.tweets {
    color: #71767b; 
}
.show-more {
    display: flex;
    padding: 10px 15px;
    cursor: pointer;
}
.show-more:hover {
    background-color: rgba(255, 255, 255, 0.04);
    transition: background-color 0.3s ease;
}
.show-more span {
    color: rgb(29, 155, 240);
}

.follow-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    background-color: rgb(32, 35, 39);
    border-radius: 15px;
}
.follow-header-card {
    width: 100%;
    padding-left: 15px;
    padding-top: 10px;
}
.follow-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.follow-header h1 {
    font-size: 20px;
    color: #E7E9EA;
    font-weight: 700;
}
.follow {
    display: flex;
}
.user-profile-container {
    display: flex;
    align-items: center;  
    height: 100%; 
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
} 
.user-profile-container:hover {
    background-color: rgba(255, 255, 255, 0.04);
}
.user-profile {
    display: flex;
    align-items: center;
    margin-right: 13px;
}
.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.user-data-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.user-data {
    display: flex;   
    align-items: center;
    justify-content: flex-start;
    margin-top: -3px;
}
.name {
    color: #E7E9EA;
    font-weight: bold;
    margin-right: 4px;
}
.sun img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.user-id {
    color: #71767b;
}
.follow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    width: 80px;
    height: 32px;
    color: #0f1419;
    background-color: rgb(239 243 244);
    border-radius: 50px;
    padding: 10px 20px; 
}
.follow-button:hover {
    transition: background-color 0.3s ease;
    filter: brightness(94%);
}

.footer {
    margin-top: 13px;  
    margin-left: 16px;
    box-sizing: content-box;
}
.footer-section span {
    color: #71767b;
    margin-right: 10px;
    font-size: 14px;
}
.footer-section span:hover {
    text-decoration: underline;
}
.footer-section:hover {
    cursor: pointer;
}
.option {
    display: flex;
    align-items: center;
}    
.option svg {
    fill: #71767b;
    width: 15px; 
    height: 15px;
    margin-left: -8px;
    margin-bottom: -6px;
}
.footer-section .copyright span {
    color: #71767b;
    font-size: 14px;
    text-decoration: none;
    cursor: default;
}

.mobile-footer {
    display: none;
}



